{% extends '::base.html.twig' %}

{# import "_self" as the form theme #}
{% if form is defined %}
    {% form_theme form _self %}
{% endif %}

{% block form_row %}
    <div class="field">
        <div class="label">{{ form_label(form) }}: </div>
        <div class="input">{{ form_widget(form) }}</div>
        <div class="errors">{{ form_errors(form) }}</div>
    </div>
{% endblock %}